
body {
    font-family: sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  
  input {
    width: 200px;
  }
  
  button {
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 5px;
  }
  
  #weather {
    width: 300px;
  }
  